table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    width: 80%;
}
.headtable{
    text-align: center;
}
.headtable_work{
    background-color: skyblue;
    text-align: left;
}

form{
    border: 1px solid gray;
    width: 40%;
    padding: 16px;
    border-radius: 16px;
}

input[type = text]{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}
input[type = email]{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}
select , textarea{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}